<h1>
  Hello Team, If you want to talk with me or need some more queries, 
  please feel free to contact me on WhatsApp or Telegram.
</h1>

<div class="d-flex gap-2">
  <!-- WhatsApp Button -->
  <a 
    class="btn btn-success w-50" 
    href="https://api.whatsapp.com/send?phone=917737770537&text=Hello%20my%20name%20is%20Vardhaan%20Sharma"
    target="_blank">
    📱 Send via WhatsApp
  </a>

  <!-- Telegram Button -->
  <a 
    class="btn btn-primary w-50" 
    href="https://t.me/Vinaysoni" 
    target="_blank">
    ✈️ Send via Telegram
  </a>
</div>
